@{
    ViewData["Title"] = "Admin Home";
}

<div style="padding: 20px;">
    <h2 style="text-align: center;">Content Management</h2>
    <div>
        <hr>
        <div class="row">
            <div class="col-md-3">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item"><a class="nav-link active" id="profile" href="#">Profile</a></li>
                    <li class="nav-item"><a class="nav-link" id="change-password" href="#">Password</a></li>
                </ul>
            </div>
            <div class="col-md-9">
            </div>
        </div>
    </div>
</div>

@section Scripts {
}
